/*initial style for the page*/

body {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	background-color: #EFEFEF;
}
/*initial style for the buttons*/

button {
	margin: 10px;
	padding: 8px;
	border-radius: 5px;
}
/*breakpoints for screen sizes min-768, 769-max*/

@media screen and (max-width: 768px) {
	.alert_container {
		width: 100%;
	}
	.nav_panel, .nav_header .title, .alert_container p {
		display: none;
	}
	.alert_container #nav_bucket {
		height: 60px;
		width: 60px;
	}
	.alert_container .icon {
		height: 45px;
		width: 45px;
	}
}
@media screen and (min-width: 769px) {
	.alert_container {
		margin: 0px;
		width: 100%;
	}
}
@media screen and (min-width: 480px) and (max-width: 768px) {
	.nav_panel {
		margin: 1%;
		width: 48%;
	}
}
@media screen and (min-width: 769px) {
	.nav_panel {
		margin: 0px;
		width: 100%;
	}
}
/*Style for the top container containing logo, title, and date refreshed*/

.nav_header {
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #333A56;
	/*  border-radius: 3px;*/
	font-size: 24px;
	margin-right: 10px;
}
.refreshed {
	font-size: 14px;
}
.logo {
	height: 70px;
	width: 120px;
	margin-left: 20px;
	margin-right: 100px;
	border-radius: 3px;
}
/*style for the main body container containing the navigation panel, alert container, and trend graph container*/

.container {
	display: flex;
	border-radius: 3px;
	margin-right: 10px;
}
/*style for navigation panel containing the navigation icons*/

.nav_panel {
	font-size: 20px;
	font-weight: bold;
	width: 10%;
	color: #333A56;
	height: 100%;
	text-align: center;
	border-radius: 3px;
}
.nav_icon {
	height: 50px;
	width: 50px;
}
.nav_panel button {
	width: 70%;
	margin-bottom: 3px;
	padding: 3px;
	background-color: #333A56;
	color: #F7F5E6;
}
.center_container {
	width: 100%;
}
/*zoom in buttons*/

.center_container:before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	left: -20px;
}
.icon {
	height: 80px;
	width: 80px;
}
.alert_container {
	height: 150px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 3px;
	/*zoom effects*/
	-webkit-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
}
.alert_container button {
	height: 100px;
	width: 100px;
	background-color: #CDCDCD;
	width: 100px;
	/*test zoom*/
	-webkit-animation: scaledown 1s linear;
	-moz-animation: scaledown 1s linear;
	animation: scaledown 1s linear;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
}
.bucket {
	height: 91%;
	border-style: solid;
	border-color: #CDCDCD;
}
.bucket:hover {
	z-index: 100;
	-webkit-animation: scale .5s linear;
	-moz-animation: scale .5s linear;
	animation: scale .5s linear;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
}
@keyframes scale {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.1);
		-webkit-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
		box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
	}
}
@keyframes scaledown {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}
.alert_container div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: #333A56;
	font-size: 14px;
	margin-top: 5px;
}
#nav_bucket {
	flex-wrap: wrap;
	margin: 2%;
	height: 100px;
	font-size: 18px;
	border-style: solid;
	border-radius: 10px;
}
.js-flickity {
	padding-bottom: 33.3%;
	/* gallery height has percentage of width*/
	margin-right: 10px;
	border-radius: 5px;
	counter-increment: gallery-cell;
}
iframe {
	width: 90%;
	height: 90%;
	margin: 20px;
	background: #8C8;
	border-radius: 5px;
	counter-increment: carousel-cell;
}
.carousel-cell {
	width: 66%;
	height: 1000px;
	margin-right: 10px;
	border-radius: 5px;
	counter-increment: carousel-cell;
}
